
:root{
    --color1:#033949;
    --color2:#a3ff15;
}
/*HEADER*/
header{
    background-image: url("../img/fondo_design3.jpg");
    height: 80vh; 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    margin-top: 80px;
    
    
    
}
/*TITULO*/
header>h1{
    display:block;
    position: absolute;
    color:white;
    font-family: "Segoe UI";
    font-size: 48pt;
    top:150px;
    left:265px;
    
}
/*SUBTITULO*/
header>h2{
      text-align: center;
      padding: 2px 0px;
      background-color: var(--color2);
      color: var(--color1);
      font-family: "Segoe UI";
      width: 99%;
      display: block;
      position: absolute;
      bottom:0px;
    
  }
  /*LOGO*/
  img[id="logo1"]{
    float:left;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    position: absolute;
    margin: 10px;
    top: 100px;
    left: 50px  ;
    
}

/*NAV*/
nav{
    width: 80vw;
    padding: 10px ;
    position: absolute;
    top: 0px;
    left: 15%;
     
}
nav>a{
    display: inline-block;
    margin: 0px 30px ;
    padding: 7px;
    color: var(--color1);
    font-family: "Segoe UI";
    text-decoration: none;
    border: 3px solid var(--color1);
    font-weight: bold;
}
.active{
    border:3px solid var(--color2);
    color:var(--color2);
 }

 /*MAIN*/
    /*MAIN INDEX*/
main>section{
    margin-top: 30px;
    margin-left: 40px;
    padding: 30px ;
    width: 40vw;
    float:right;

}

/*FONTS DE P DE MAIN*/
main p{
   margin-bottom: 50px;
   font-family: "Segoe UI";
   font-size: 12pt;
}
 /*IMAGEN DE INDEX*/
img[id="image_index"], img[ id="contact1"]{
    float: left;
    height: 65vh;
    width: 50%;
    
    
}
/*SUBTITULOS EN EL MAIN DE INDEX Y ABOUT */
h3{
    font-family:  cursive;
    font-weight: bold;
    font-style: oblique;
    font-size:  16pt;
    color: var(--color1);
   
}
/*MAIN DE ABOUT*/
#info_about{
    margin-top: 30px;
    margin-left: 50px;
    padding: 20px;
    width: 45vw;
    float:left;
}

/*IMAGEN DE ABOUT*/
img[id="about1"]{
    float: right;
    height: 110vh;
    width: 45%;
}

/*GALERIA*/
#gallery{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#gallery>.grid-container{
    display: grid;
    grid-template-areas: none;
    grid-template-columns: repeat(4,210px);
    grid-template-rows: repeat(3,240px);
    grid-gap: 10px;
}
#gallery img{
      width: 100%;
      height: 100%;
      border: 2px solid var(--color1);
}
#gallery>.grid-container>div:nth-child(6){
    grid-column: span 2;
}
#gallery>.grid-container>div:first-child{
    grid-column: span 2;
}

#gallery>.grid-container>div:nth-child(8){
    grid-row: span 2;
}
#gallery>.grid-container>div:last-child{
    grid-column: span 2;
}
#gallery>.grid-container>div:nth-child(4){
    grid-row: span 2;
}
#gallery>.grid-container>div:nth-child(13){
    grid-column: span 2;
}

#rules_main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 60%;
    padding: 0 20vw;
    
}

#rules_main p{
    margin-bottom: 0px;
}
ul.a{
    list-style-type: square;
}
ol.b{
    list-style-type: lower-alpha;
}
ol.c{
    list-style-type: lower-alpha;
}

/*MAIN SCHEDULE*/
#schedule_main{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 60%;
    padding: 0 20vw;
    

}



/* TABLAS*/
table{
    text-align: start;
    width: 60vw;
    
}

caption>h3{
    font-family: "Segoe UI" ;
    font-style: oblique;
    font-size:  16pt;  
    color: black;
    text-align: start;
    text-decoration: none;

}

#table1>caption>p{
  
    text-align: start;
    font-style: oblique;
    text-decoration: underline;
   
}

th{
    font-family: "Segoe UI";
    font-size: 14pt;
    text-align: start;
    text-decoration: underline;
}
td{
    font-family: "Segoe UI";
    font-size: 12pt;
    text-align: start;
    vertical-align: text-top;
    
}

#table3>caption {
     padding: 0;
    text-align: start;
    font-weight: bold;
}


#table4{
    width: 60vw;
    text-align: start;
    margin-bottom: 40px;
}
#table4>caption {
    padding: 20px;
   text-align: start;
 
}

.lista{
    padding: 0;
    text-align: start;
    list-style-type: none;
}
#schedule_main p{
    margin-bottom: 0px;
}
